html {
    background-image: url('https://unsplash.com/photos/YJIH8vK0qFc/download?force=true&w=1920');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html .wrap {
    margin: 0 auto;
    max-width: 960px;
}

html .wrap .header {
    margin-top: 10px;
    font-style: italic;
    font-size: 22px;
}

html .wrap .header .title {
    text-align: center;
    color: white;
    opacity: 0;
    transform: translateY(-100px);
    transition: 1s ease;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7);
}

html .wrap .header .title-in.title-in {
    /* 標題滑入動畫 */
    opacity: 1;
    transform: translateY(0px);
    transition: 1s ease;
}

html .wrap .main .clock-outer-fram {
    /* 定位鐘面於中間 */
    display: flex;
    justify-content: center;
}

html .wrap .main .clock-outer-fram .clock-outer {
    /* 時鐘外框架 */
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(240px) rotate(-360deg);
    transition: 1s ease;
    box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, .7), inset 0 0 5px 1px rgb(255, 255, 255, .9), 0 0 1px 3px rgb(255, 255, 255, .9), 0 0 10px 2px rgba(0, 0, 0, .7);
}

html .wrap .main .clock-outer-fram .clock-outer.clock-outer-in {
    /* 時鐘外框架滑入動畫 */
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
    transition: 1s ease;
}

@media screen and (max-width: 768px) {
    html .wrap .main .clock-outer-fram .clock-outer {
        width: 350px;
        height: 350px;
    }
}

html .wrap .main .clock-outer-fram .clock-outer .clock {
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

html .wrap .main .clock-outer-fram .clock-outer .clock .point-icon-outer {
    /* 軸心外框架樣式 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .point-icon {
    /* 軸心樣式 */
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num {
    /* 鐘面上文字樣式與定位鐘面上 XI 文字位置 */
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7);
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(2) {
    /* 定位鐘面上 XII 文字位置 */
    top: 8%;
    left: 50%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(3) {
    /* 定位鐘面上 I 文字位置 */
    top: 15%;
    left: 70%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(4) {
    /* 定位鐘面上 II 文字位置 */
    top: 30%;
    left: 85%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(5) {
    /* 定位鐘面上 III 文字位置 */
    top: 50%;
    left: 92%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(6) {
    /* 定位鐘面上 IV 文字位置 */
    top: 70%;
    left: 85%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(7) {
    /* 定位鐘面上 V 文字位置 */
    top: 85%;
    left: 70%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(8) {
    /* 定位鐘面上 VI 文字位置 */
    top: 92%;
    left: 50%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(9) {
    /* 定位鐘面上 VII 文字位置 */
    top: 85%;
    left: 30%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(10) {
    /* 定位鐘面上 VIII 文字位置 */
    top: 70%;
    left: 15%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(11) {
    /* 定位鐘面上 IX 文字位置 */
    top: 50%;
    left: 8%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .num:nth-of-type(12) {
    /* 定位鐘面上個 X 文字位置 */
    top: 30%;
    left: 15%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .line {
    /* 每根針樣式 */
    position: absolute;
    width: 100%;
    height: 100%;
}

html .wrap .main .clock-outer-fram .clock-outer .clock .seconds::after {
    /* 秒針樣式 */
    content: '';
    width: 1%;
    height: 48%;
    background-color: white;
    border-radius: 10px 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 5px rgba(255, 255, 255, .7);
}

html .wrap .main .clock-outer-fram .clock-outer .clock .minute::after {
    /* 分針樣式 */
    content: '';
    width: 2%;
    height: 35%;
    background-color: white;
    border-radius: 10px 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 5px rgba(255, 255, 255, .7);
}

html .wrap .main .clock-outer-fram .clock-outer .clock .hour::after {
    /* 時針樣式 */
    content: '';
    width: 3%;
    height: 28%;
    background-color: white;
    border-radius: 10px 10px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 5px rgba(255, 255, 255, .7);
}

html .wrap .main .show-text-group .city-show{
    display: block;
    text-align: center;
    font-size: 40px;
    color: white;
    font-style: italic;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7);
    margin-top: 35px;
    opacity: 0;
    transform: translateY(-10px);
    transition: 1s ease;
}

html .wrap .main .show-text-group .time-show-day {
    /* 星期樣式 */
    display: block;
    text-align: center;
    font-size: 25px;
    color: white;
    font-style: italic;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7);
    margin: 20px 0;
    opacity: 0;
    transform: translateY(-30px);
    transition: 1s ease;
}

html .wrap .main .show-text-group .time-show {
    /* 日期樣式 */
    display: block;
    text-align: center;
    font-size: 25px;
    color: white;
    font-style: italic;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .7);
    margin-bottom: 55px;
    opacity: 0;
    transform: translateY(-60px);
    transition: 1s ease;
}

html .wrap .main .show-text-group .city-show.city-show-in,
html .wrap .main .show-text-group .time-show-day.time-show-day-in,
html .wrap .main .show-text-group .time-show.time-show-in {
    /* 星期與日期滑入動畫 */
    opacity: 1;
    transform: translateY(0px);
}

html .wrap .main .select-group{
    width: 100px;
    position: fixed;
    bottom:-353px;
    right:0;
    color:white;
    text-align: center;
    transition: .7s ease;
}

@media screen and (max-width: 768px) {
    html .wrap .main .select-group{
        bottom:-353px;
    }
}

html .wrap .main .select-group.active{
    bottom: 0;
}

html .wrap .main .select-group .select-outer{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, .7);
    overflow: hidden;
}
html .wrap .main .select-group .toggle-bar-btn{
    margin:0 5px;
    border-radius: 5px;
    padding: 5px 0 8px 0;
    cursor: pointer;
    user-select: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}
html .wrap .main .select-group .toggle-bar-btn .arrow-icon{
    font-size: 20px;
    margin: 0 5px;
    transform: rotate(0deg);
    transition: .7s ease;
}
html .wrap .main .select-group .toggle-bar-btn .arrow-icon.active{
    transform: rotate(-180deg);
}
html .wrap .main .select-group .select-outer .select-area{
    border-radius: 5px 5px 0 0;
    padding: 5px 0 8px 0;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .7);
}
html .wrap .main .select-group .select-outer .select-list{
    border-radius: 0 0 5px 5px;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 0px;
    transition: .7s ease;
}
html .wrap .main .select-group .select-outer .select-list::-webkit-scrollbar {
  width: 3px;
  border-radius: 50%;
}
html .wrap .main .select-group .select-outer .select-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
}
html .wrap .main .select-group .select-outer .select-list.list-toggle{
    height: 200px;
}
html .wrap .main .select-group .select-outer .select-list .options{
    cursor: pointer;
    user-select: none;
    padding: 5px 5px 8px 5px;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0);
    transition: .7s ease;
}
html .wrap .main .select-group .select-outer .select-list .options.active{
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .7);
    background-color: white;
    color: black;
}
html .wrap .main .loading-outer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    z-index: -1;
    transition: .7s ease;
}
html .wrap .main .loading svg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 198px;
    transform:translate(-50%,-50%) rotate(0deg);
    animation: loadingFram 1s linear infinite;
}

@keyframes loadingFram {
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

html .wrap .main .loading .loading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 18px;
}

html .wrap .main .loading-outer.active{
    opacity: 1;
    z-index: 10;
}

html .wrap .footer h6{
    font-size: 16px;
    color: white;
    text-align: center;
}