html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title="Personality Test"
    link(rel="stylesheet",href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css",integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p",crossorigin="anonymous")
  body
    .wrap
        .container
            .header
                .title
            .main
                .content
                    .row.justify-content-center
                        .col-md-10.pb-4
                            .explain
                                h2.explain-title 測驗內容簡介
                                h3.mt-4 開發此測驗作者簡介
                                p.explain-content 邁爾斯‧布裏格斯性格分類法（Myers-Briggs Type Indicator，MBTI）是性格分類的一種。最先的開發者是美國的心理學家 Katherine Cook Briggs 及其女兒，經過長期觀察和研究而完成。雖然備受學術派的心理學者所批評，但經過五十多年的發展，MBTI 現已成為全球著名的性格測試之一。當 中包括教育界、顧員招聘及培訓、領袖訓練及個人發展等領域均有廣泛的應用。
                                h4.mt-5 --題目以四大項分類--
                                .type-font-group.mt-3
                                    ul.listA
                                        each item in [{ ftContent: 'I . 心理能力的走向',sdContent: '你是「外向 E」( Extrovert ) 還是「內向 I」( Introvert )？' },{ ftContent: 'II . 認識外在世界的方法',sdContent: '你是「感覺 S」( Sensing ) 還是「直覺 N」( Intuition )？' },{ ftContent: 'III . 倚賴甚麼方式做決定',sdContent: '你是「理性 T」( Thinking ) 還是「情感 F」( Feeling )？' },{ ftContent: 'IV . 生活方式和處事態度',sdContent: '你是「判斷 J」( Judging ) 還是「理解 P」( Perceiving )？' }]
                                            li #{item.ftContent}
                                                br 
                                                | #{item.sdContent}
                                    ul.listB
                                        li 請輕鬆作答便可，測驗結果可依個人官感參考也可當成玩樂性質
                                        li 題目總共 28 題，請依直覺判斷喔~，感謝您的使用
                    .row.justify-content-center
                        .col-md-10
                            .Q-outer-frame
                    .row.justify-content-center
                        .col-md-12
                            .type-text-content.justify-content-center
            .start-btn-outer-frame
                .start-btn-outer
                    .start-btn
            .custom-modal-outer
                .custom-modal
                    .custom-modal-header 提示訊息
                    .custom-modal-body 請點選文字選項後在點擊下一題
                    .custom-modal-footer
                        .confirm 確定
            .footer
                h3.footer-text &copy; CopyRight 2021-11 Alex Chen .
    script(type="module",src="../src/index.ts")
