html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title="Travel"
    link(rel="stylesheet",href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css",integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p",crossorigin="anonymous")
  body
    #map
    .left-side
      .search-bar-outer
        .search-bar
          input(type="text",name="search-input",placeholder="輸入地名或景點名稱",value="")
          .search-btn
            i(class="far fa-search")
        .dark-mode
            i(class="fas fa-moon")
      .search-list-outer
        .search-list
    .right-side
      .single-list-outer
        .single-list
    .loading-outer
      .loading-circle
          svg(className="fsg",width="100%",height="100%")
              defs
                  linearGradient(id="a1",x1="0%",y1="0%",x2="100%",y2="100%")
                      stop(offset="10%",stop-color="rgb(0,162,250)")
                      stop(offset="50%",stop-color="rgb(0,90,250)",stop-opacity=".5")
                      stop(offset="70%",stop-color="rgb(0,0,0)",stop-opacity="0")
                      stop(offset="90%",stop-color="rgb(0,0,0)",stop-opacity="0")
                      stop(offset="100%",stop-color="rgb(0,0,0)",stop-opacity="0")
              circle(cx="105",cy="105",r="100",stroke-width="6",stroke="url(#a1)",fill="none")
      .loading-text Loading
    script(type="module",src="../src/index.ts")