html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title="New Years Count Down"
  body
    div(x-data="initData")
        #tsparticles
        .language-option-layout(:class="{ active: data.languageOptionLayoutAnimate }")
          .current-language-outer
            svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 512 512")
              line(x1="48",y1="112",x2="336",y2="112")
              line(x1="192",y1="64",x2="192",y2="112")
              polyline(points="272 448 368 224 464 448")
              line(x1="301.5",y1="384",x2="434.5",y2="384")
              path(d="M281.3,112S257,206,199,277,80,384,80,384")
              path(d="M256,336s-35-27-72-75-56-85-56-85")
            .current-language(@click="toggleLanguageListShow",x-text="$t(`${$locale()}Lang`)")
          .language-option-list-outer
            .language-option-list(:class="{ active: data.toggleLanguageList }")
                template(x-for="(item,index) in data.languageGroup",:key="index")
                  .options(:class="{ active:$locale() === item }",@click="changeLanguage(item)",x-text="$t(`${item}Lang`)")
        .center
            .remain-title(:class="{ active: data.remainTitleAnimate }",x-text="$t(data.isChangeBg ? 'titleTextChange' : 'titleText',{ year:data.newYear })")
            .remain-middle(:class="{ active: data.isChangeBg  }",x-text="$t(data.isChangeBg ? 'middleText' : '',{ year:data.newYear })")
            .remain-text(:class="{ active: data.remainContentAnimate }",x-text="$t('countDownText',{ day:data.currentCountText.dd,hh:data.currentCountText.hh,mm:data.currentCountText.mm,ss:data.currentCountText.ss })")
        .footer(:class="{ active: data.footerAnimate }") &copy; CopyRight 2022-12 Alex Chen.
    script(type="module",src="./index.ts")