html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient( 120deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    
    body{
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;

        .header{
            text-align: center;
            padding: 30px 10px 30px 10px;
            color: rgb(162, 0, 255);
        }

        .main{

            .card-frame {
                display: grid;
                grid-template-columns: 20% 20% 20% 20% 20%;
                justify-content: center;

                @media screen and  (max-width: 568px) {
                    grid-template-columns: 25% 25% 25% 25%;
                }
    
                .card {
                    transform-style: preserve-3d;
                    height: 135px;
                    position: relative;
                    margin: 5px;
                    transition: .25s ease;
    
                    @media screen and (max-width: 568px) {
                        height: 120px;
                    }
    
                    .card-front,
                    .card-back {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        color: rgb(162, 0, 255);
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: linear-gradient( 122.3deg, rgba(111, 71, 133, 1) 14.6%, rgba(232, 129, 166, 1) 29.6%, rgba(237, 237, 183, 1) 42.1%, rgba(244, 166, 215, 1) 56.7%, rgba(154, 219, 232, 1) 68.7%, rgba(238, 226, 159, 1) 84.8%);
                        box-shadow: 0 0 5px rgba(0, 0, 0, .7);
                        pointer-events: none;
                        transition: .25s ease;
                    }

                    .card-front{
                        opacity: 0;
                    }

                    .card-back {
                        opacity: 1;
                    }
    
                    &.card-turn {
                        transform: rotateY(180deg);

                        .card-front{
                            opacity: 1;
                        }

                        .card-back {
                            opacity: 0;
                        }
                    }
    
                    .card-front {
                        transform: rotateY(180deg) translateZ(1px);
                    }
                }
            }

            .ranking-list-outer-frame{
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 300px;
                transform: translateX(315px);
                box-shadow: inset 0 0 2px 0 rgba(255,255,255,.7), 0 0 2px 0 rgba(255,255,255,.7);
                margin: 8px;
                border-radius: 0 10px 10px 10px;
                overflow: hidden;
                backdrop-filter: blur(10px);
                transition: .5s ease;

                @media screen and (max-width: 568px) {
                    transform: translateX(355px);
                    width: 340px;
                }

                .ranking-list-outer{
                    position: relative;
                    height: 100vh;

                    .ranking-list{
                        padding: 7px 12px;
                        margin: 5px 5px 5px 0;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 17px;

                        .no-data{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            color: rgb(162, 0, 255);
                            font-weight: bold;
                        }
    
                        .ranking-item{
                            display: grid;
                            grid-template-columns: auto 30%;
                            margin-bottom: 10px;
                            align-items: center;
        
                            span{
                                font-size: 18px;
                                font-weight: bold;
                                color: rgb(162, 0, 255);
        
                                &:last-child{
                                    text-align: right;
                                }
                            }
        
                            &.with-crown{
                                grid-template-columns: 10% auto 30%;

                                span{
        
                                    &:nth-of-type(2){
    
                                       padding: 0 5px;
                                    }
                                }
                            }
        
                            &:nth-of-type(1){
                                
                                &.with-crown{
                                    
                                    span{
        
                                        &:nth-of-type(1){
        
                                            i{
                                                color: rgb(255,221,85);
                                                text-shadow: 0 0 2px rgba(30, 30, 30, .7);
                                            }
                                        }
                                    }
                                }
                            }
                            
                            &:nth-of-type(2){
                                
                                &.with-crown{
                                    
                                    span{
        
                                        &:nth-of-type(1){
        
                                            i{
                                                color: rgb(170,170,170);
                                                text-shadow: 0 0 2px rgba(30, 30, 30, .7);
                                            }
                                        }
                                    }
                                }
                            }
        
                            &:nth-of-type(3){
                                
                                &.with-crown{
                                    
                                    span{
        
                                        &:nth-of-type(1){
        
                                            i{
                                                color: rgb(204,102,0);
                                                text-shadow: 0 0 2px rgba(30, 30, 30, .7);
                                            }
                                        }
                                    }
                                }
                            }

                            &:last-child{
                                margin-bottom: 0;
                            }
                        }

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 20px;
                            background-color: rgba(162, 0, 255, 0.7);
                        }
                    }
                }

                &.toggle{
                    transform: translate(0);
                }
            }

            .switch-time-list{
                position: fixed;
                top: 0;
                right: 0;
                transform: translateX(0px);
                margin-top: 8px;
                background-color: rgba(162, 0, 255, 0.7);
                color: white;
                padding: 8px 5px 3px 8px;
                border-radius: 10px 0 0 10px;
                cursor: pointer;
                user-select: none;
                font-weight: bold;
                backdrop-filter: blur(10px);
                transition: .5s ease;
                letter-spacing: 5px;
                writing-mode: vertical-lr;

                &.toggle{
                    transform: translateX(-308px);

                    @media screen and (max-width: 568px) {
                        transform: translateX(-348px);
                    }
                }
            }
        }

        .footer {
            padding: 30px 10px 30px 10px;
            text-align: center;
            color: rgb(162, 0, 255);
        }

        .modal,
        .ranking-modal {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background: rgba(0, 0, 0, .7);
            transition: .5s ease;

            .modal-body,
            .ranking-modal-body {
                box-shadow: 0 0 5px rgba(0, 0, 0, .7);
                background-image: linear-gradient(120deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
                border-radius: 10px;
                width: 375px;
                max-width: 95%;
                transition: .5s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-60%);

                .modal-header,
                .ranking-modal-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 15px 10px 15px;
                    color: rgb(162, 0, 255);

                    h2 {
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }

                    .close {
                        display: block;
                        cursor: pointer;
                        margin-top: 5px;
                        transition: transform .5s;

                        &:hover {
                            transform: scale(.8);
                        }

                        .fork {
                            display: block;
                            height: 2px;
                            width: 20px;
                            background: rgb(162, 0, 255);

                            &:nth-of-type(1) {
                                transform: translateY(10px) rotate(45deg);
                            }

                            &:nth-of-type(2) {
                                transform: translateY(8px) rotate(-45deg);
                            }
                        }
                    }
                }

                .modal-content,
                .ranking-modal-content {
                    padding: 15px;
                    text-align: center;
                    line-height: 2em;
                    color: rgb(162, 0, 255);
                    font-weight: bold;
                }

                .ranking-modal-content{
                    display: flex;
                    flex-direction: column;

                    input{
                        border: none;
                        outline: none;
                        background-color: transparent;
                        box-shadow: 0 0 5px 0 rgb(162, 0, 255);
                        font-size: 18px;
                        border-radius: 5px;
                        padding: 5px 10px;
                        color: rgb(162, 0, 255);
                    }
                }

                .modal-footer,
                .ranking-modal-footer {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0 0 5px 5px;

                    .cancel,
                    .again,
                    .ranking-confirm,
                    .ranking-cancel {
                        background: rgb(162, 0, 255);
                        color: white;
                        font-size: 16px;
                        margin-right: 5px;
                        padding: 5px;
                        text-align: center;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 1s ease;
                    }

                    .cancel{
                        padding: unset;
                        margin-right: unset;
                        &.active{
                            padding: 5px;
                            margin-right: 5px;
                        }
                        &:hover {
                            background: red;
                            transform: scale(1.05);
                            transition: .5s ease;
                        }
                    }
                    
                    .again{
                        &:hover {
                            background: rgb(0, 162, 255);
                            transform: scale(1.05);
                            transition: .5s ease;
                        }
                    }
                }

                .ranking-modal-footer{
                    padding: 5px 7px 10px 12px;
                    justify-content: space-between;
                    align-items: center;

                    .right-group{
                        display: flex;
                    }

                    span{
                        font-size: 13px;
                        color: rgb(162, 0, 255);
                        font-weight: bold;
                    }
                }
            }

            &.modal-toggle {
                z-index: 10;
                opacity: 1;

                .modal-body,
                .ranking-modal-body {
                    opacity: 1;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}