doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="author",content="Alex Chen")
    meta(name="description",content="隨手拍下世界的菜菜全端")
    meta(name="keywords",content="攝影,拍照,心理,程式,前端,後端,全端")
    title="Hight On Life"
    link(rel="stylesheet",href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css",integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p",crossorigin="anonymous")
  body
    .app
    script(type="module",src="../src/entry.tsx")