.location-modal-outer-frame{
    position: fixed;
    z-index: -1;
    background-color: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .7s ease;
    user-select: none;
    .location-modal-outer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);
        min-width: 90%;
        transition: .7s ease;
        opacity: 0;
        .location-modal{
            .location-modal-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px 10px 0 0;
                padding: 10px 16px;
                font-size: 20px;
                background-color: rgb(0,132,255);
                color: white;
                .close-btn{
                    cursor: pointer;
                    user-select: none;
                    .line{
                        width: 20px;
                        height: 3px;
                        border-radius: 20px;
                        background-color: white;
                        
                    }
                    .line:nth-of-type(1){
                        transform: rotate(45deg) translate(1px,1px);
                    }
                    .line:nth-of-type(2){
                        transform: rotate(-45deg) translate(1px,-1px);
                    }
                }
            }
            .location-modal-body{
                position: relative;
                border-radius: 0 0 10px 10px;
                overflow: hidden;
                .full-path-btn{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(0,0,0,.7);
                    border-radius: 0 0 0 10px;
                    padding: 6px 7px 7px 12px;
                    color: white;
                }
                iframe{
                    width: 100%;
                    height: 82vh;
                    margin-bottom: -6px;
                }
                @media screen and (max-width:768px) {
                    iframe{
                        height: 87vh;
                    }
                }
            }
        }
    }
    .location-modal-outer-active{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
}
.location-modal-outer-frame-active{
    opacity: 1;
    z-index: 80;
}