html{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

    body{

        #map{
            height: 100vh;
			.leaflet-tile{
				&.active{
					filter: brightness(0.7) invert(1) contrast(2) hue-rotate(200deg);
				}
			}

			.leaflet-popup-content{
				margin: 5px 8px 3px 8px;
				text-align: center;
				font-size: 16px;
				font-weight: bold;
				line-height: unset;
			}

			.leaflet-popup-close-button{
				top: -30%;
				transform: translate(11px,-2px);
				background-color: red;
				border-radius: 50%;
				color: white;
				font: unset;
				font-size: 16px;
				width: 22px;
				height: 23px;
			}

			.leaflet-control-attribution{
				padding: 3px 4px 1px 6px;
				margin: 5px;
				border-radius: 5px;
				background: rgba(255,255,255,.7);
			}
        }

		.left-side{

			.search-bar-outer{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 500;
				width: 330px;
				padding: 8px 8px 0 8px;
				display: grid;
				grid-template-columns: 9fr 1fr;
				gap: 5px;
				align-items: center;

				@media screen and (max-width: 414px) {
					width: unset;
					gap: 10px;
					grid-template-columns: 1fr 10fr 1fr;
					padding: 8px 10px 0 10px;
				}

				.visit-list-btn {
					display: none;
					padding-top: 5px;

					@media screen and (max-width: 414px) {
						display: block;
					}

					.line {
						height: 5px;
						margin-bottom: 5px;
						background-color: white;
						box-shadow: 0 0 2px 1px rgba(30,30,30,.7);
						border-radius: 5px;
					}
				}

				.search-bar{
					display: flex;
					align-items: center;
					background-color: rgba(30,30,30,.7);
					border-radius: 5px;

					input{
						padding: 7px 5px 7px 8px;
						border: none;
						outline: none;
						font-size: 18px;
						color: white;
						background-color: transparent;
						width: 100%;
						&::placeholder{
							transform: translateY(1px);
							color: rgba(255,255,255,.7);
							text-align: center;
							font-style: italic;
						}
					}
		
					.search-btn{
						padding: 0 9px 0 5px;
						color: white;
						cursor: pointer;
						user-select: none;
		
						i{
							pointer-events: none;
						}
					}
				}

				.dark-mode{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background-color: rgba(255, 255, 255, 0.7);
					box-shadow: 0 0 2px 1px rgba(30,30,30,.7),inset 0 0 0 0 rgba(30,30,30,.7);
					width: 34px;
					height: 34px;
					cursor: pointer;
					user-select: none;
					transition: .5s ease;

					i{
						pointer-events: none;
					}

					&.active{
						color: yellow;
						box-shadow: 0 0 2px 1px rgba(30,30,30,.7),inset 0 0 2px 1px rgba(30,30,30,.7);
					}
				}
			}

			.search-list-outer-frame {
				position: fixed;
				top: 45px;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 500;
				width: 330px;
				background-color: rgba(30,30,30,.7);
				margin: 7px;
				transition: .5s ease;
				border-radius: 5px;
				box-shadow: 0 0 4px 0.5px rgba(30,30,30,.7);
				overflow: hidden;
				display: grid;
				grid-template-rows: 1fr 13fr 1fr;
				transform: translateY(102%);

				@media screen and (max-width: 414px) {
					top: 0;
					width: unset;
					z-index: 1700;
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(10px);
				}

				.list-title {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					margin: 0 10px 10px 10px;
					color: white;
					border-radius: 5px;
					padding: 10px 0 10px 0;
					font-size: 20px;
					font-weight: bold;
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: 1px;
						background-color: rgba(255, 255, 255, 0.7);
					}
				}

				.search-list-outer{
					position: relative;
					height: 100%;
	
					.search-list{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						overflow-y: auto;
						overflow-x: hidden;
		
						.list-item{
							margin: 0 10px 10px 10px;
							padding: 1px 12px 10px 14px;
							color: white;
							box-shadow: inset 0 0 2px 0 rgba(255,255,255,.7);
							border-radius: 5px;
							cursor: pointer;
							user-select: none;
		
							div{
								line-height: 25px;
								font-size: 15px;
		
								&:nth-of-type(1){
									font-size: 20px;
									margin:10px 0 3px 0;
									font-weight: bold;
								}

								i{
									margin-right: 6px;
								}
	
								&:nth-of-type(2){
									i{
										color: #FF0000;
										margin-right: unset;
									}
								}
	
								&:nth-of-type(3){
									i{
										color: #00BBFF;
									}
								}
								
								&:nth-of-type(4){
									i{
										color: #FF1493;
									}
								}
								
								&:nth-of-type(5){
									i{
										color: #F5D005;
									}
								}
							}
	
							&:last-child {
								margin: 10px 10px 0 10px;
							}
		
							&:nth-of-type(1){
								border-top: unset;
								border-top-color: unset;
							}
	
							&.active{
								background-color: rgba(255,255,255,.3);
								box-shadow: inset 0 0 2px 1px rgba(30,30,30,.3);
							}
						}

						.no-data {
							display: flex;
							justify-content: center;
							flex-direction: column;
							height: 100%;
							text-align: center;
							font-weight: bold;
							color: white;
							font-size: 20px;
						}
					}
				}

				.close-search-list-btn {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					height: 35px;
					margin: 10px;
					color: white;
					box-shadow: inset 0 0 2px 0 rgba(255,255,255,.7);
					border-radius: 5px;
					cursor: pointer;
					user-select: none;
				}

				&.active{
					transform: translateY(0);

					@media screen and (max-width: 414px) {
						transform: translateY(0);
					}
				}
			}
		}

		.right-side {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			width: 350px;
			background-color: rgba(30,30,30,.7);
			margin: 7px;
			z-index: 1800;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0 0 4px 0.5px rgba(30,30,30,.7);
			transform: translateX(104%);
			transition: .5s ease;

			@media screen and (max-width: 414px) {
				left: 0;
				width: unset;
				-webkit-backdrop-filter: blur(10px);
				backdrop-filter: blur(10px);
			}

			&.active{
				transform: translateX(0);
			}

			.single-list-outer{

				.close-btn {
					display: none;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 10;
					color: white;
					font-weight: bold;
					font-size: 30px;
					padding: 3px 8px;
					text-shadow: 0 0 3px rgba(30,30,30,.7);

					@media screen and (max-width: 414px) {
						display: block;
					}
				}

				.single-list{
					position: relative;
					height: 100%;

					.list-item{
						display: grid;
						grid-template-rows: 300px auto;
						height: 100%;

						.top{
							position: sticky;
							top: 0;
							height: 100%;

							.img{
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
								height: 100%;
							}

							.no-img{
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								font-size: 35px;
								background-color: rgb(200,200,200);
								color: white;
								height: 100%;
							}

							.img-desc{
								color: #fff;
								font-weight: bold;
								position: absolute;
								bottom: 0;
								right: 0;
								margin: 5px;
								background-color: rgba(30,30,30,.7);
								backdrop-filter: blur(10px);
								-webkit-backdrop-filter: blur(10px);
								padding: 7px 6px 5px 6px;
								border-radius: 5px;

								&.hide{
									display: none;
								}

								@media screen and (max-width: 414px) {
									padding: 7px 6px;
								}
							}
						}

						.middle-outer {
							overflow-y: auto;
								overflow-x: hidden;

							.middle{
								color: white;
								font-size: 15px;
	
								div{
									&:nth-of-type(1),
									&:nth-of-type(3){
										padding: 12px 10px 2px 10px;
										font-weight: bold;
										font-size: 20px;
									}
	
									&:nth-of-type(2),
									&:nth-of-type(4){
										padding: 5px 10px;
										line-height: 26px;
										text-align: justify;
									}
								}
							}
						}
					}
				}
			}
		}

		.loading-outer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			z-index: -1;
			transition: .5s ease;
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			background-color: rgba(30,30,30,.5);

			.loading-circle{
				svg{
					width: 210px;
					height: 210px;
					transform:rotate(0deg);
					animation: loadingFram 1s linear infinite;
				}
				
				@keyframes loadingFram {
					0%{
						transform:rotate(0deg);
					}
					100%{
						transform:rotate(360deg);
					}
				}
			}

			.loading-text{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				letter-spacing: 3px;
				color: white;
				font-weight: bold;
				font-size: 18px;
			}

			&.active{
				opacity: 1;
				z-index: 1600;
			}
		}

		.footer{
			position: fixed;
			left: 50%;
			bottom: 0;
			z-index: 600;
			font-weight: bold;
			font-style: italic;
			color: white;
			text-shadow: 0 0 2px rgba(30,30,30,.7);
			transform: translate(-50%,-100%);
		}
    }

	*::-webkit-scrollbar {
		width: 6px;
		background-color: rgb(100, 100, 100);
	}
	*::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}