* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 微軟正黑體;
    background-image: linear-gradient( 120deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
}

.header {
    text-align: center;
    padding: 30px 10px 30px 10px;
    color: rgb(162, 0, 255);
}

.count {
    display: none;
}

.card-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 0 auto;
    perspective: 1000px;
}

@media screen and (max-width: 568px) {
    .card-frame {
        max-width: 372px;
    }
}

.card {
    transform-style: preserve-3d;
    width: 115px;
    height: 145px;
    position: relative;
    margin: 5px;
    transition: transform .25s;
}

@media screen and (max-width: 568px) {
    .card {
        width: 83px;
        height: 100px;
    }
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: rgb(162, 0, 255);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 122.3deg, rgba(111, 71, 133, 1) 14.6%, rgba(232, 129, 166, 1) 29.6%, rgba(237, 237, 183, 1) 42.1%, rgba(244, 166, 215, 1) 56.7%, rgba(154, 219, 232, 1) 68.7%, rgba(238, 226, 159, 1) 84.8%);
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

.card-front {
    transform: rotateY(180deg) translateZ(1px);
}

.card-turn {
    transform: rotateY(180deg);
}

/* 彈出視窗外框架 */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .7);
}

/* 彈出視窗外框架 end */
/* 彈出視窗外框架載入淡入淡出動畫 start */

.modal-toggle {
    opacity: 1;
}

/* 彈出視窗外框架載入淡入淡出動畫 end */
/* 彈出視窗本體架構設定 start */

.modal-body {
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    background-image: linear-gradient(120deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    border-radius: 10px;
    min-width: 375px;
    margin: auto 5%;
    opacity: 0;
    transform: translateY(100%) scale(0.1);
    transition: .5s ease;
    position: relative;
}

/* 彈出視窗本體架構設定 end */
/* 彈出視窗本體架構淡入淡出動畫 start */

.modal-body-toggle {
    opacity: 1;
    transform: translateY(100%) scale(1);
    transition: .5s ease;
}

/* 彈出視窗本體架構淡入淡出動畫 end */
/* 彈出視窗本體內部架構 start */

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 15px;
    color: rgb(162, 0, 255);
}

.modal-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-content {
    padding: 15px;
    text-align: center;
    line-height: 2em;
    color: rgb(162, 0, 255);
    font-weight: bold;
}

.close {
    display: block;
    cursor: pointer;
    margin-top: 5px;
    transition: transform .5s;
}

.fork {
    display: block;
    height: 2px;
    width: 20px;
    background: rgb(162, 0, 255);
}

.fork:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
}

.fork:nth-of-type(2) {
    transform: translateY(8px) rotate(-45deg);
}

.close:hover {
    transform: scale(.8);
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 10px 5px;
}

.cancel,
.again {
    background: rgb(162, 0, 255);
    color: white;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s ease;
}

.cancel:hover {
    background: red;
    transform: scale(1.05);
    transition: .5s ease;
}

.again:hover {
    background: rgb(0, 162, 255);
    transform: scale(1.05);
    transition: .5s ease;
}

.footer {
    padding: 30px 10px 30px 10px;
    text-align: center;
    color: rgb(162, 0, 255);
}