{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@linaria"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}