<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Photo Manager</title>
</head>
<body>
    <div class="container-outer">
        <div class="title-bar">
            <div class="app-title">Photo Manager</div>
            <div class="right-controll-group">
                <div class="circle dark-mode">
                    <i class="far fa-moon"></i>
                </div>
                <div class="circle small">
                    <i class="fas fa-horizontal-rule"></i>
                </div>
                <div class="circle full-screen">
                    <i class="fas fa-expand-alt"></i>
                </div>
                <div class="circle close-app">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="top-block">
                <div class="change-view-group">
                    <div class="change-view view-short-img">Photo</div>
                    <div class="change-view view-details-list">Photo Details</div>
                </div>
                <div class="path-group">
                    <input class="path-temp" type="text" readonly>
                    <div class="open-path">Browers...</div>
                </div>
            </div>
            <div class="render-item"></div>
            <div class="modal">
                <div class="modal-body">
                    <div class="modal-header">
                        <span></span>
                    </div>
                    <div class="modal-content">
                        <div class="content-img-outer">
                            <img src="" alt="" />
                            <div class="zoom-controller">
                                <div class="zoom-plus">+</div>
                                <div class="zoom-subs">-</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="close">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-alert">
                <div class="modal-body-alert">
                    <div class="modal-header-alert">
                        <span></span>
                    </div>
                    <div class="modal-content-alert"></div>
                    <div class="modal-footer-alert">
                        <div class="confirm">確定</div>
                        <div class="cancel">取消</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="srcolll" style="position: fixed;bottom: 5%;left: 2%;z-index: 100;">123</div> -->
    </div>
</body>
</html>