<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testApp</title>
    <script src="../../lib/Library.js"></script>
    <script src="../../plugin/Modal.js"></script>
    <link rel="stylesheet" href="../../plugin/Modal.css">
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="wrapper">
        <h1>Test Todo</h1>
        <div class="add-input-outer">
            <div class="add-item">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="item-list-outer"></div>
        <div class="modal">
            <div class="modal-body">
                <div class="modal-header">
                    <span></span>
                </div>
                <div class="modal-content">
                    <div class="modal-input-outer">
                        <span>事項：</span>
                        <input type="text" class="modal-input">
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <div class="cancel">Cancel</div>
                    <div class="confirm">Confirm</div>
                </div>
            </div>
        </div>
    </div>
    <script src="./main.js"></script>
</body>
</html>